@charset "ISO-8859-1";

.container1 {
    font-family: Arial, sans-serif;
    background-color: #9DBC98;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background-color: #EBD9B4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
h1 {
    text-align: center;
    color: #638889;
}
form {
    margin-top: 20px;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #638889;
    border-radius: 5px;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: #638889;
    color: white;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #547572;
}
a {
    color: #638889;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.error-message {
	height: 80px;
    color: red;
    font-size: 11px;
    margin-top: -10px;
    margin-bottom: 10px;
}