@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Oswald|Roboto|Slabo+27px);
@import 'bourbon';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    
    }


html {
	height: 100%;
	width: 100%;
}

main {
	height: 80vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
		gap:100px;

}


.titreProfil {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
	padding: 10px;
	color:#638889;
}
.titreInforPerso{
		background-color:#638889;
				color: #EBD9B4;

		height: 20%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

}
.carteInforProfil {
		background-color:beige;

	
			color:#638889;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	gap: 60px;
	margin: 30px;
	height: 450px;
	width: 400px;
	border-radius: 10px;
	border: 4px solid #638889;
	}

.formulaireProfil{
	display: flex;
	flex-direction: row;
	gap:25px;
}

.infoProfil{
	display: flex;
	align-items: center;
	flex-direction:column;
	justify-content: space-between;
	gap: 50px;
}
