@charset "ISO-8859-1";


 :root {
    --couleur-hover:#5f2549;
    --couleur-leger: #bc4a55;
    --couleur-bg: #ffbc5b;
  }

.container1 {
	font-family: Arial, sans-serif;
	background-color: gray;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.container {
	background-color: var(--couleur-bg);
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	width: 400px;
}

h1 {
	text-align: center;
	color: white;
}

form {
	margin-top: 20px;
}

input[type="date"],
input[type="time"],
input[type="number"]{
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid var(--couleur-leger);
	border-radius: 5px;
	box-sizing: border-box;
}

input[type="submit"] {
	background-color: var(--couleur-leger);
	color: white;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: var(--couleur-hover);
}

a {
	color: var(--couleur-leger);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


span{
	color : red;
}

.erreur{
	margin-bottom: 5%;
	
}

.boutons{
	border: 1px black;
	border-radius: 5px;
	padding:15px;
    margin-bottom:5px;
	background-color: var(--couleur-leger);
	color:#fff;
    font-family: 'Slabo 27px', serif;
    font-size:20px;
	&:hover{
	background-color: var(--couleur-leger);
}}

.center{
display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:  100%; 
  height:  100%;
}