@charset "UTF-8";

body{
  background:#FBFCFA ;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.flex-item-buttons {
	display: flex;
	justify-content: center;
	width: 100%;
}

#bouton-reserver{
	margin-left: 15%;
	margin-right: 15%;
}

form {
	 margin-bottom: 1%;
	 margin-top:1%;
	
}

input{
		border: 1px black;
		border-radius: 5px;
		padding:15px;
		background-color: #9DBC98;
		color:#fff;
        font-family: 'Slabo 27px', serif;
        font-size:20px;
		&:hover{
		background-color: #638889;
		}
	}
	
	
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  height:  100vh; /* Pour que le conteneur prenne toute la hauteur de la fenêtre */
}

.top, .bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width:  100%; /* Pour que chaque ligne prenne toute la largeur de la fenêtre */
}

.top-left-image, .top-right-text, .bottom-left-text, .bottom-right-image {
  flex:  1; /* Chaque div prendra une partie égale de l'espace disponible */
  padding:  1em; /* Ajoutez un peu de marge interne pour améliorer la lisibilité */
}

/* Style spécifique pour les images */
.top-left-image img, .bottom-right-image img {
  width:  100%; /* L'image prendra toute la largeur de son conteneur */
  height:  fit-content; /* L'image prendra toute la hauteur de son conteneur */
  object-fit: cover; /* La couverture de l'image assure que l'image couvre entièrement son conteneur sans déformation */
}

/* Style spécifique pour le texte */
.top-right-text, .bottom-left-text {
  display: flex;
/*  justify-content: center;
  align-items: center;
  text-align: center;*/
  flex-direction: column;
  justify-content: space-around;
}

.presentation{
	margin-bottom: 30px;
}

.entrees{
	/*background-color: red;*/
	/*align-self: self-start;*/
	width:  fit-content;
	margin-bottom: 10px;
	padding-left: 10%;
 	
}

.plats {
/*	background-color: blue;*/

	/*align-self: self-end;*/
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width:  fit-content;
 	margin-left: 10%;
}

.desserts {
/*	background-color: yellow;*/
/*	align-self: self-end;*/
	width:  fit-content;
	margin-left: 15%;
}

.boissons{
/*	background-color: greenyellow;*/
/*	align-self: self-start;*/
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width:  fit-content;
	margin-left: 15%;
}


#texte-presentation {
	font-size:32px;
  	font-family: 'Oswald', sans-serif; 
}
