.container1 {
    font-family: Arial, sans-serif;
    background-color: #9DBC98;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background-color: #EBD9B4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
h1 {
    text-align: center;
    color: #638889;
}
form {
    margin-top: 20px;
}

input{
	margin-bottom: 3%;
}

span{
	color : red;
}

.erreur{
	margin-bottom: 5%;
	
}

input[type="submit"] {
    background-color: #638889;
    color: white;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #547572;
}
.error-message {
    color: red;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
}
a {
    color: #638889;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}