@charset "UTF-8";
.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

a {
 background-color: #199319; /* Changez cette valeur en fonction de votre préférence */
 color: white; /* Changez cette valeur en fonction de votre préférence */
 padding: 5px 20px; /* Ajustez ces valeurs en fonction de votre préférence */
 text-decoration: none;
}

a:hover {
 background-color: #223094; /* Changez cette valeur en fonction de votre préférence */
}
