<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>ReservationRestaurant</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>accueil.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletAccueil</display-name>
    <servlet-name>ServletAccueil</servlet-name>
    <servlet-class>controler.ServletAccueil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAccueil</servlet-name>
    <url-pattern>/accueil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDetailsRestaurant</display-name>
    <servlet-name>ServletDetailsRestaurant</servlet-name>
    <servlet-class>controler.restaurant.ServletDetailsRestaurant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDetailsRestaurant</servlet-name>
    <url-pattern>/detailsRestaurant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletConnexion</display-name>
    <servlet-name>ServletConnexion</servlet-name>
    <servlet-class>controler.ServletConnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConnexion</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletReservationTable</display-name>
    <servlet-name>ServletReservationTable</servlet-name>
    <servlet-class>controler.table.ServletReservationTable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletReservationTable</servlet-name>
    <url-pattern>/private/reservationTable</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletEnvoyerMessage</display-name>
    <servlet-name>ServletEnvoyerMessage</servlet-name>
    <servlet-class>controler.message.ServletEnvoyerMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletEnvoyerMessage</servlet-name>
    <url-pattern>/private/envoyerMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletProfil</display-name>
    <servlet-name>ServletProfil</servlet-name>
    <servlet-class>controler.profil.ServletProfil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletProfil</servlet-name>
    <url-pattern>/private/profil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletSupprimerProfil</display-name>
    <servlet-name>ServletSupprimerProfil</servlet-name>
    <servlet-class>controler.profil.ServletSupprimerProfil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSupprimerProfil</servlet-name>
    <url-pattern>/private/supprimerProfil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletModifierProfil</display-name>
    <servlet-name>ServletModifierProfil</servlet-name>
    <servlet-class>controler.profil.ServletModifierProfil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletModifierProfil</servlet-name>
    <url-pattern>/private/modifierProfil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletInscription</display-name>
    <servlet-name>ServletInscription</servlet-name>
    <servlet-class>controler.ServletInscription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletInscription</servlet-name>
    <url-pattern>/inscription</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletTestConnexion</display-name>
    <servlet-name>ServletTestConnexion</servlet-name>
    <servlet-class>controler.ServletTestConnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletTestConnexion</servlet-name>
    <url-pattern>/ServletTestConnexion</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>FilterConnextion</display-name>
    <filter-name>FilterConnextion</filter-name>
    <filter-class>filter.FilterConnextion</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FilterConnextion</filter-name>
    <url-pattern>/FilterConnextion</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>TestProfil</display-name>
    <servlet-name>TestProfil</servlet-name>
    <servlet-class>controler.profil.TestProfil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestProfil</servlet-name>
    <url-pattern>/TestProfil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailEmploye</display-name>
    <servlet-name>DetailEmploye</servlet-name>
    <servlet-class>controler.employe.ServletDetailEmploye</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailEmploye</servlet-name>
    <url-pattern>/private/detailEmploye</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletAfficherMessages</display-name>
    <servlet-name>ServletAfficherMessages</servlet-name>
    <servlet-class>controler.message.ServletAfficherMessages</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAfficherMessages</servlet-name>
    <url-pattern>/private/afficherMessages</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDetailParPrenomEmploye</display-name>
    <servlet-name>ServletDetailParPrenomEmploye</servlet-name>
    <servlet-class>controler.employe.ServletDetailParPrenomEmploye</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDetailParPrenomEmploye</servlet-name>
    <url-pattern>/private/detailParPrenomEmploye</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDeconnexion</display-name>
    <servlet-name>ServletDeconnexion</servlet-name>
    <servlet-class>controler.ServletDeconnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDeconnexion</servlet-name>
    <url-pattern>/deconnexion</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/ServletErreur404</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>ServletErreur404</display-name>
    <servlet-name>ServletErreur404</servlet-name>
    <servlet-class>controler.ServletErreur404</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletErreur404</servlet-name>
    <url-pattern>/erreur404</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletApropos</display-name>
    <servlet-name>ServletApropos</servlet-name>
    <servlet-class>controler.ServletApropos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletApropos</servlet-name>
    <url-pattern>/apropos</url-pattern>
  </servlet-mapping>
</web-app>